.tags-parent {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin-bottom: -8px;
}

.tag:hover {
  transform: scale(1.06);
}

.tag {
  padding-right: 8px;
  border-width: 1px;
  border-color: black;
}

.tag-content {
  border-radius: 7px;
  padding: 4px 4px 4px 4px;
  font-size: 8pt;
  color: black;
  font-family: monospace;
}
