.project-title {
  display: flex;
  justify-content: left;
  text-align: left;
  position: relative;
  margin-top: -30pt;
  font-size: 50pt;
  padding-bottom: 20pt;
}

h1.h1-project-title {
  display: inline-block;
  font-size: 50pt;
  padding-bottom: 0pt;
  margin-bottom: 0pt;
  text-align: center;
}

.tech-used {
  font-size: 10pt;
  font-style: italic;
}
p {
  line-height: 20pt
}

.description-box {
  border:1px solid black;
  border-radius: 5px;
  margin-top: 53px;
  padding-top: 10px;
  padding-left: 20px;

}

ul.description {
  list-style-type: none;
  padding:0;
}

.fa {
  padding-right: 5px
}