.project-title {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: -30pt;
}

h1.h1-project-title {
  display: inline-block;
  font-size: 50pt;
  padding-bottom: 0pt;
  margin-bottom: 0pt;
  text-align: center;
}

.btn {
  font-size: 30pt;
  padding-top: 0pt;
  position: absolute;
  left: 0;
  padding-top: 12pt;
}
.btn:hover {
  opacity: 0.7;
}

.tech-used {
  font-size: 10pt;
  font-style: italic;
}
p {
  line-height: 20pt
}