p,
li.interests {
  font-size: 12pt;
}

li.interests {
  margin-top: 0px;
  margin-bottom: 8px;
}

.left {
  text-align: left;
  width: 49%;
  display: inline-block;
}

.right {
  text-align: right;
  width: 50%;
  display: inline-block;
}

.education-title {
  font-style: oblique;
  font-size: 16pt;
  padding-bottom: 0pt;
  margin-bottom: 0pt;
}

.year {
  text-decoration: underline;
  padding-top: 5pt;
  padding-bottom: 0pt;
}

h1 {
  padding-bottom: 0pt;
}
