<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('projects.static', filename='css/card.css') }}"
/>

<div
  class="card mb-3"
  onclick="window.location= '{{ link }}'"
  style="
    display: inline-block;
    min-width: 19rem;
    max-width: 19rem;
    cursor: pointer;
  "
>
  <img
    src="{{ img }}"
    class="card-img-top"
    alt="..."
    width="300px"
    height="200px"
  />
  <div class="card-body">
    <h5 class="card-title">{{ cardtitle }}</h5>
    <p class="card-text text" style="white-space: pre-line">{{ text }}</p>
    <p class="card-text">
      <small class="text-muted">{{ date }}</small>
    </p>
    
    <div class="tag-parent">
      <div class="tag">
        <p
          class="tag-content"
          >Javascript</p
        >
      </div>
      <div class="tag">
        <p
          class="tag-content"
          >Javascript</p
        >
      </div>
      <div class="tag">
        <p
          class="tag-content"
          >Javascript</p
        >
      </div>
      <div class="tag">
        <p
          class="tag-content"
          >Javascript</p
        >
      </div>
      <div class="tag">
        <p
          class="tag-content"
          >Javascript</p
        >
      </div>
      <div class="tag">
        <p
          class="tag-content"
          >Javascript</p
        >
      </div>                  
    </div>
  </div>
</div>
