{%extends "base-projects.html"%} {%block content%}

{% block imp %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('projects.static', filename='css/card-column.css') }}"
/>
{% endblock imp %}

<h1>Projects</h1>

<div class="card-deck mx-auto align-item-center container-fluid " style="display: flex;justify-content: center;">
  {% for project in projects %} 
  {% set date = project["date"] %} 
  {% set link = project["link"] %} 
  {% set img = url_for("projects.static", filename = project["img"])%} 
  {% set cardtitle = project["title"] %} 
  {% set text = project["text"] %} 
  {% set date = project["date"] %} 

  {% include "card.html" %} {% endfor %}
</div>


{%endblock content%}
