{%extends "projects/project-base.html"%}

<!-- prettier-ignore -->
{% block about %}

<p>
  Senya Solutions is a company that I do freelance web development work under. I
  started it in Nov 2022, and I have had a few clients so far. It is essential
  that I have a well designed website, as it is the first thing that a client
  will see.
</p>

<!-- prettier-ignore -->
{% endblock about %}

<!-- prettier-ignore -->
{% block pagecontent %}

<h4>The Website</h4>
<hr />
<p>
  I used Astro as my SSG (Static Site Generator). This was because it is a
  simple, fast, and easy to use SSG. Furthermore, it has support for using other
  frameworks such as React, these components are then partially hydrated on the
  client side. This allows me to ship minimal javascript to the client, and
  hence, have a fast website.
</p>
<p>
  TailwindCSS was used as my CSS framework. This was because it is a utility
  first CSS framework, which allows me to easily create custom components. It
  also has a large number of components that I can use, and it is easy to
  customise. I initally didn't think I would like it as I was more used to
  frameworks like Chakra UI, however I have grown to love it.
</p>
<br />

<!-- prettier-ignore -->
{% endblock pagecontent %}
