{%extends "base-projects.html"%} {% block imp %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('projects.static', filename='css/project-base.css') }}"
/>
{% endblock imp %}

<!-- prettier-ignore -->
{%block content%}

<div class="container">
  <h1 class="project-title">Flood</h1>
  <div class="row">
    <div class="col-md-7 order-2 order-sm-1">
      <h2>About</h2>
      <hr />
      {%block about%} {%endblock about%}
    </div>
    <div class="col-md-5 order-1 order-sm-2">
      <div class="description-box">
        <ul class="description">
          <!-- prettier-ignore -->
          {% if github %}
          <li>
            <i class="fa fa-github"></i
            ><a class="" href="{{ github }}" target="_blank"> Github </a>
          </li>
          <!-- prettier-ignore -->
          {% endif %}
          <!-- prettier-ignore -->
          {% if website %}
          <li>
            <i class="fa fa-globe"></i>

            <a class="" href="{{ website }}" target="_blank"> {{ website }} </a>
          </li>
          <!-- prettier-ignore -->
          {% endif %}
          <!-- prettier-ignore -->
          {% if tech %}
          <li style="margin-top: 20px">
            <i class="fa fa-wrench"></i> Tech used
            <ul>
              <!-- prettier-ignore -->
              {% for item in tech %}
              <li>{{ item }}</li>
              <!-- prettier-ignore -->
              {% endfor %}
            </ul>
          </li>
          <!-- prettier-ignore -->
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  {% block pagecontent %} {% endblock pagecontent %}
</div>
<!-- blank space div -->
<div style="margin-bottom: 100px"></div>

{% endblock content %}
