{%extends "base-projects.html"%} {% block imp %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('projects.static', filename='css/project-base.css') }}"
/>
{% endblock imp %} 

<!-- prettier-ignore -->  
{%block content%}

<div class="container">
  <h1 class="project-title">Flood</h1>
  <div class="row">
    <div class="col-md-7">
      <h2>About</h2>
    </div>
    <div class="col-md-5">
      <div class="box">
        <ul class="description-box">
          <!-- prettier-ignore -->
          {% if github %}

          <li>
            <a class="" href="{{ github }}" target="_blank">
              Github <i class="fa fa-github"></i
            ></a>
          </li>
          <!-- prettier-ignore -->
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <hr style="margin-bottom: 8pt" />
  {% if website %}
  <h1 style="text-align: center; font-size: 10pt">
    <a href="{{website}}" target="_blank">{{website}}</a>
  </h1>
  <hr style="margin-top: 8pt" />
  {%endif%} {% if tech %}
  <h1 class="tech-used">Technolgies used: {{ tech }}</h1>
  {% endif %} {% block pagecontent %} {% endblock pagecontent %}
</div>

{% endblock content %}
