{%extends "base-projects.html"%} {% block imp %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('projects.static', filename='css/project-base.css') }}"
/>
{% endblock imp %} {%block content%}

<!--   {% if github %}
      <a class="btn" href="{{ github }}" target="_blank"
        ><i class="fa fa-github"></i
      ></a>
      {% endif %}
 -->
<div class="container">
  <h1 class="project-title">Flood</h1>
  <div class="row">
    <div class="col-md-7">
      <h2>About</h2>
    </div>
    <div class="col-md-5" style="border:1px solid black; border-radius: 5px">
aaa
    </div>
  </div>

  <hr style="margin-bottom: 8pt" />
  {% if website %}
  <h1 style="text-align: center; font-size: 10pt">
    <a href="{{website}}" target="_blank">{{website}}</a>
  </h1>
  <hr style="margin-top: 8pt" />
  {%endif%} {% if tech %}
  <h1 class="tech-used">Technolgies used: {{ tech }}</h1>
  {% endif %} {% block pagecontent %} {% endblock pagecontent %}
</div>

{% endblock content %}
