{%extends "base.html"%} {%block imp%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/about.css') }}"
/>
{%endblock imp%} {%block content%}
<h1>About</h1>
<hr />

<p>
  Hi! My name is Lakee (pronounced lack-E), and I am a Third Year Engineering
  student at the Univeristy of Cambridge. My interests lie in fullstack web
  development. My goto stack is Next.js for both frontend and backend for
  complex projects, and Astro for static sites. I am also a huge fan of AWS as a
  cloud provider and have used it extensively.
</p>

<!-- <h1 style="padding-top: 10px">Timeline</h1>
<hr />
{% include "timeline.html" %}
<h1>CV</h1>
<hr /> -->

<p style="text-align: center">
  <iframe
    src="https://drive.google.com/file/d/1EPhJ6jF3psxEAtprrkak3KGZu2-Y9yVu/preview"
    width="70%"
    height="750vh"
  ></iframe>
</p>

{%endblock content%}
