{%extends "base.html"%} {%block content%}
<h1>Personal Statement</h1>
<span class="hm" style="padding-top: 10px"></span>
<p></p>
<style>
  .loader {
    border: 20px solid #8d8282; /* Light grey */
    border-top: 20px solid #2c2c2c; /* Blue */
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 2.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
  }
  .loading span {
    display: inline-block;
    margin: 0 -0.05em;
  }
  /* code #1 */
  .loading01 span {
    animation: loading01 1.4s infinite alternate;
  }
  .loading01 span:nth-child(1) {
    animation-delay: 0s;
  }
  .loading01 span:nth-child(2) {
    animation-delay: 0.1s;
  }
  .loading01 span:nth-child(3) {
    animation-delay: 0.2s;
  }
  .loading01 span:nth-child(4) {
    animation-delay: 0.3s;
  }
  .loading01 span:nth-child(5) {
    animation-delay: 0.4s;
  }
  .loading01 span:nth-child(6) {
    animation-delay: 0.5s;
  }
  .loading01 span:nth-child(7) {
    animation-delay: 0.6s;
  }
  @keyframes loading01 {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>

<script>
  if (!document.hidden) {
    setTimeout(function () {
      window.location.href =
        "https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1";
    }, 4000);
  }
  document.addEventListener(
    "visibilitychange",
    function () {
      if (document.hidden) {
        console.log("bye");
      } else {
        setTimeout(function () {
          window.location.href =
            "https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1";
        }, 4000);
      }
    },
    false
  );

  var a = `From a young age I was glued to the TV programme “How it's made”, in which I found great fascination in learning about how engineers design and manufacture products to cater different needs of society. Consequently I developed an interest of studying engineering, in which I aim to gain the skill sets required to design and construct products. Furthermore, it opens many different pathways for me to specialise in a field of engineering/science.
  Having realised that developing a deep understanding of the mathematical principles such as complex numbers, matrices etc. is beneficial for pursuing my interest in engineering, I embarked on a journey of self-learning A-Level Further Mathematics without any formal teaching (as further mathematics is not currently offered in my school). My commitment and hard work enabled me to achieve good marks (Core Pure Mathematics – 100%, Mechanics – 99%) in the end of year 12 further mathematics examinations held by my school.`;

  var typed2231 = new Typed(".hm", {
    strings: [a],
    typeSpeed: 10,
    backSpeed: 0,
    loop: false,
    cursorChar: "_",
  });
</script>

{%endblock content%} {%block imp%}
<!-- <script>
  var a = `From a young age I was glued to the TV programme “How it's made”, in which I found great fascination in learning about how engineers design and manufacture products to cater different needs of society. Consequently I developed an interest of studying engineering, in which I aim to gain the skill sets required to design and construct products. Furthermore, it opens many different pathways for me to specialise in a field of engineering/science.
Having realised that developing a deep understanding of the mathematical principles such as complex numbers, matrices etc. is beneficial for pursuing my interest in engineering, I embarked on a journey of self-learning A-Level Further Mathematics without any formal teaching (as further mathematics is not currently offered in my school). My commitment and hard work enabled me to achieve good marks (Core Pure Mathematics – 100%, Mechanics – 99%) in the end of year 12 further mathematics examinations held by my school.`;

  var typed2231 = new Typed(".hm", {
    strings: a,
    typeSpeed: 40,
    backSpeed: 0,
    loop: false,
    cursorChar: "_",
  });
</script> -->
{%endblock%}
