<section class="terminal-container terminal-fixed-top">
  <header class="terminal">
    <img
      class="terminal-logo"
      src="{{url_for('static',
    filename='imgs/icons/terminal.png')}}"
    />
    <a class="terminal-title">Command Prompt</a>
    <strong class="ico cls">&times;</strong>
    <strong class="ico max">&square;</strong>
    <strong class="ico min">&#95;</strong>
  </header>

  <div class="terminal-home">
    <span style="white-space: pre-line" class="console"></span>
  </div>
  <script
    type="text/javascript"
    src="{{url_for('static', filename = 'js/terminal.js')}}"
  ></script>
</section>
