<section class="terminal-container terminal-fixed-top">
  <header class="terminal">
    <img
      class="terminal-logo"
      src="{{url_for('static',
    filename='imgs/icons/terminal.png')}}"
    />
    <a class="terminal-title">Command Prompt</a>
    <strong class="ico cls">&times;</strong>
    <i class="fal fa-window-minimize"></i>
    <strong class="ico max">&square;</strong>
    <strong class="ico min">&#95;</strong>
  </header>

  <div class="terminal-home">
    <p class="console">C:\Users\lakee></p>
  </div>
</section>
